
.card-panel{
    position: relative;
    overflow: hidden;
    color: #666;
    height: 108px;
    cursor: pointer;
}
.skeleton-card{
    position: relative;
    overflow: hidden;
    color: #666;
    height: 108px;
    cursor: pointer;
    padding:16px;
}
.text-panel{
    float: right;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height:108px;
    margin-right:26px;
}
.text-panel .text-title{
    line-height: 18px;
    color: rgba(0,0,0,.45);
    font-size: 16px;
    margin-bottom: 12px;
}
.text-panel .text-content{
    font-size: 18px;
}
.icon-panel{
    float: left;
    margin-left:30px;
    transition: all .38s ease-out;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:108px;
}
.chart-item{
    padding:20px 0 0 0;
    border-radius: 3px;
    line-height: 2em;
}
.list-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:50px;
    width:100%;
    text-align: left;
    padding:0 30px;
    font-size:16px;
    font-weight:500;
}
.spin{
    display: flex;
    align-items: center;
    justify-content: center;
}