
.panel-body{
  min-height:603px;
}
.avatar-head{
  position: absolute!important;
  top: 24%;
  left: 40%;
  border: 5px solid #fff;
  background-color: #fff;
  margin: auto;
  border-radius: 50%;
}
.avatar-upload{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  cursor:pointer;
}
.avatar-upload :hover{
  color:#1890ff
}
.avatar-text{
  text-align: center;
}
.avatar-name{
  margin-top:36px;
  margin-bottom: 4px;
  color: rgba(0,0,0,.85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.avatar-info{
  box-sizing: border-box;
}
.avatar-info p{
  position: relative;
  margin-bottom: 8px;
  padding-left: 26px;
}
.avatar-info i{
  position: absolute;
  top: 0px;
  left: 0;
  width: 14px;
  height: 14px;
  font-size: 14px;
}
.team-title{
  margin-bottom: 12px;
  color: rgba(0,0,0,.85);
  font-weight: 500;
}
.team-text{
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  color: rgba(0,0,0,.65);
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  transition: color .3s;
}
.icon-action{
  color: #1890ff;
  cursor:pointer;
}
.blacklist-btn{
  margin-bottom: 20px;
}
.code-model{
  cursor:pointer;
  padding:5px;
  width:120px;
}
.code-model:hover{
    border-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);

}
