@import './assets/font/iconfont.css';
@import './layouts/HeaderBar.css';
@import './pages/Login/index.css';
@import './components/PanThumb/PanThumb.css';
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
#resumeDom .ant-form-item {
  margin-bottom: 0px;
}
#article{
  min-height:756px;
}
#article .ant-btn{
  color: #fff; 
  background-color: #f4516c;
  border-color: #f4516c;
}
#article .ant-btn :hover .ant-btn:focus{
  color: #fff; 
  background-color: #f4516c;
  border-color: #f4516c;
}
#article .ant-btn:focus{
  color: #fff; 
  background-color: #f4516c;
  border-color: #f4516c;
}
#personal-upload .ant-upload-list{
  display: none;
}
#personal-list .ant-list-split .ant-list-item:last-child{
  border-bottom: 1px solid #e8e8e8;
}