
/*headerbar*/
.trigger{
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
}
.trigger:hover{
  color: #1890ff;
}
.header-ul{
  height: 100%;
  overflow: hidden;
}
/*crumb*/
.crumb-ul{
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
}
.header-ul>span {
  display: inline-block;
  height: 100%;
  padding: 0 16px;
  cursor: pointer;
  font-size: 22px;
  transition: all .3s;
}
/* .header-ul>li img{
  width: 35px;
  height: 35px;
  border-radius: 100px;
} */
.headdropdown{
  padding:0 10px;
}
.headNoticeList{
  cursor: pointer;
}
.headNoticeList:hover{
  background: #e6f7ff;
}
.headNoticeAction{
  height: 46px;
  color: rgba(0,0,0,.65);
  line-height: 46px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  transition: all .3s;
}
.headNoticeAction div{
  display: inline-block;
    width: 50%;
    cursor: pointer;
    transition: all .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.headNoticeAction div:not(:only-child):last-child {
  border-left: 1px solid #e8e8e8;
}
.menu{
  line-height: 2em;
  padding: 0 10px;
}
.menu-group li{
  padding: 0 24px;
  line-height: 2em;
}

#page .card-item{
  margin-bottom: 10px;
  border-radius: 3px;
  line-height: 2em;
}
#page .card-ul{
  list-style: inside circle;
}