
.logodom{
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  background: #001529;
  cursor: pointer;
  transition: all .3s;
}
.logodom a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}
.logo{
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.sys-title{
  display: inline-block;
    margin: 0 0 0 12px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    vertical-align: middle;
    animation: fade-in;
    animation-duration: .8s;
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}